<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="demo-provider"/>
    <dubbo:registry protocol="redis" address="172.20.4.107:6379" check="false">
        <dubbo:parameter key="max.idle" value="50" />
        <dubbo:parameter key="min.idle" value="50" />
        <dubbo:parameter key="max.active" value="100" />
        <dubbo:parameter key="timeout" value="50000" />
        <dubbo:parameter key="num.tests.per.eviction.run" value="10000" />
    </dubbo:registry>
    <dubbo:protocol id="dubboProtocol" name="dubbo" port="-1"/>
    <dubbo:provider threadpool="fixed"
                    threads="500"
                    timeout="5000"
                    retries="2"/>
    <dubbo:service protocol="dubboProtocol" interface="com.snowman.service.DemoService"
                   timeout="5000"
                   retries="1"
                   group="snowman.dubbo.demo"
                   version="3.0.0"
                   ref="demoService" >
    </dubbo:service>
    <bean id="demoService" class="com.snowman.serviceImpl.DemoServiceImpl"/>
</beans>
